body {
    background-image: url('http://served.kittykatt.us/projects/configs/mythemes/wallpapers/underwater_tiles.jpg');
}

img {
    width: 70%;
    margin-top: 12px;
    box-shadow: 0.4em 0.4em 0.75em #444444;
}

a {
    font: bold 14px/25px Arial, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

.page-wrap {
	width: 1280px;
	margin: 0 auto;
}

.footer a:hover {
    color: #999FAA
}

.btn {
	height: 30px;
	width: 50px;
	color: #ffffff;
	background-color: #FF0000;
	border-radius: 10px;
	margin: auto 15px;
	padding-left: 18px;
	text-align: left;
	box-shadow: 0 0 1em #FFFFFF;
	overflow: hidden;
	position: relative;
	transition: background-color 0.5s, color 1s;
}

.btn:hover {
	color: #EEEE77;
	background-color: #8F0000;
}

.top { top: 0; }
.btn:hover .top { top: -100px; }
.bottom { top: 100px; }
.btn:hover .bottom { top: 0px; }

.content {
	position: absolute;
	transition: top 0.3s;
	overflow: hidden;
}

.title {
    font: bold 22px/30px 'Montserrat', sans-serif;
    background-color: #000000;
    color: #ffffff;
    padding: 12px;
    position: relative;
    left: 250px;
    bottom: 225px;
    box-shadow: inset 11em 0 2em #444444;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.container {
	width: 28%;
    background-color: #fff999;
    overflow: none;
    border-radius: 0 15px;
    padding: 15px 20px;
    margin: 76px 560px;
    box-shadow: 0.4em 0.4em 1em #444444;
}

.footer {
    font: lighter 14px/35px 'Gills Sans', sans-serif;
    background-color: #444444;
    color: #FFFFFF;
    padding: 42px 15px;
}

.footer a {
    color: #FFFFFF;
}

.accent,
.title {
    font-family: 'Montserrat';
}

.underline {
    text-decoration: underline;
}